:root {
    --color-header: #1a5218;
    --color-hover-nav: #0d290c;
    --color-hover-btn: #246e22;
}

body {
    font-family: "montserrat", sans-serif;
    margin: 0px;
}

header {
    background-color: var(--color-header);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-inline: 65px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    z-index: 1000;
    a {
        color: white;
        text-decoration: none;
        h2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-inline: 20px;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 100;
        margin-inline: 20px;
    }
    #carrito {
        filter: invert(1);
        width: 20px;
    }
    #logo {
        filter: invert(1);
        height: 35.5px;
        margin-right: 10px;
    }
}

nav a:hover {
    color: var(--color-hover-nav);
}
nav a#enlace-carrito:hover {
    filter: brightness(0) saturate(100%) invert(15%) sepia(12%) saturate(960%) hue-rotate(72deg) brightness(96%) contrast(94%);
}

#portada {
    display: flex;
    flex-direction: column;
    background-image: url("portada_provisional.png");
    height: 400px;
    background-size: cover;
    h1 {
        color: white;
        font-size: 55px;
        width: 300px;
        line-height: 1.2;
        margin-top: 0;
        padding-top: 110px;
        padding-left: 13vw;
        margin-bottom: 30px;
    }
    a {
        color: white;
        text-decoration: none;
        padding-inline: 32px;
        padding-block: 13px;
        background-color: var(--color-header);
        border-radius: 7px;
        font-size: 16px;
        margin-left: 13vw;
        width: 108px;
    }
}

#portada a:hover {
    background-color: var(--color-hover-btn);
}

#muestra-productos {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-inline: 65px;
    h2 {
        color: var(--color-header);
        font-size: 34px;
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        article {
            width: 24vw;
            text-align: center;
            h3 {
                color: var(--color-hover-nav);
                font-size: 20px;
                font-weight: 400;
                padding-inline: 25px;
            }
        }
        img {
            width: 24vw;
            border-radius: 20px;
            filter: brightness(1.1) contrast(1.25) saturate(1) hue-rotate(-5deg);
        }
    }
}

#descripcion {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    img {
        width: 50vw;
        margin-right: 30px;
        filter: brightness(1) contrast(1.25) saturate(1.2) hue-rotate(-5deg);
    }
    article {
        h2 {
            font-size: 32px;
            color: var(--color-header);
            margin-top: 16px;
        }
        p {
            padding-right: 40px;
            line-height: 1.5;
            font-size: 16px;
            text-align: justify;
        }
    }
}

footer {
    margin-top: 40px;
    padding-inline: 65px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-top: solid rgb(194, 194, 194);
    font-size: 12px;
    color: gray;
    text-align: center;
}

@media (max-width: 745px) {
    header {
        flex-wrap: wrap;
        height: 110px;
        justify-content: center;
        text-align: center;
    }
    header > a {
        height: 30px;
        h2 {
            margin-block: 7px;
        }
    }
}

@media (max-width: 635px) {
    #muestra-productos {
        padding-inline: 40px;
        h2 {
            text-align: center;
        }
        div {
            flex-wrap: wrap;
            justify-content: center;
            article {
                min-width: 220px;
                img {
                    min-width: 220px;
                }
            }
        }
    }
    #descripcion {
        flex-direction: column;
        
        img {
            width: 100vw;
            margin-right: 0px;
            margin-bottom: 15px;
        }
        article {
            h2 {
                text-align: center;
                padding-inline: 40px;
            }
            p {
                padding-inline: 50px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 440px) {
    header {
        padding: 0px;
        height: 120px;
    }
    header > a {
        margin-bottom: 25px;
    }
    nav{
        flex-wrap: wrap;
        justify-content: center;
        line-height: 0;
    }
    #portada {
        justify-content: center;
        h1 {
            font-size: 45px;
            margin-inline: auto;
            padding-inline: 0px;
            text-align: center;
        }
        a {
            background-color: var(--color-header);
            border-radius: 7px;
            font-size: 16px;
            margin-inline: auto;
        }
    }
}